nav {
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-wrapper {
      width: fit-content;
      display: flex;
      align-items: center;
      #logo-title {
        width: 100px;
        user-select: none;
        cursor: pointer;
      }
    }
  }
  mat-drawer {
    width: 400px;
  }
}

@media (max-width: 576px) {
  nav {
    mat-drawer {
      width: 100%;
    }
  }
}
