<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Election Title</mat-label>
    <input matInput placeholder="Eg. My election" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Eg. This election is about..."></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Election Progress</mat-label>
    <input
      matInput
      placeholder="Set initial progress"
      value=""
      type="number"
      min="0"
      max="100"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
